<div class="compass">
  <div class="item">
    <%= link_to "|<", @link_first, class: "comic-nav" %>
  </div>
  <div class="item">
    <% if @exists_prev %>
      <%= link_to "<", @link_prev, class: "comic-nav" %>
    <% end %>
  </div>
  <div class="item">
  </div>
  <div class="item">
  </div>
  <div class="item">
    <% if @exists_next %>
      <%= link_to ">", @link_next, class: "comic-nav" %>
    <% end %>
  </div>
  <div class="item">
    <%= link_to ">|", @link_last, class: "comic-nav" %>
  </div>
</div>
<div class="comics">
  <% @panels.each do |row| %>
    <div class="panel-row">
      <% row.each do |panel| %>
        <%= content_tag :div, class: ["panel-div",panel.vis_class] do -%>
          <%= image_tag panel.path, class: "panel" %>
        <% end -%>
      <%end %>
    </div>
  <%end %>
</div>
