<div class="compass">
  <div class="item">
    <%= link_to "|<", @link_first, class: "comic-nav" %>
  </div>
  <div class="item">
    <% if @exists_prev %>
      <%= link_to "<", @link_prev, class: "comic-nav" %>
    <% end %>
  </div>
  <div class="item">
  </div>
  <div class="item">
  </div>
  <div class="item">
    <% if @exists_next %>
      <%= link_to ">", @link_next, class: "comic-nav" %>
    <% end %>
  </div>
  <div class="item">
    <%= link_to ">|", @link_last, class: "comic-nav" %>
  </div>
</div>
<div class="comics">
  <div class="mobile">
    <% @panels.each do |panel| %>
      <div class="panel-div">
        <%= image_tag panel, class: "panel" %>
      </div>
    <%end %>
  </div>
  <div class="desktop">
    <%= image_tag @image, class: "desktop" %>
  </div>
</div>
