<div class="compass">
  <div class="item">
    <%= link_to @link_first do %>
      <%= image_tag nav_asset('first', !@exists_prev), class: "comic-nav" %>
    <% end %>
  </div>
  <div class="item">
    <% if @exists_prev %>
      <%= link_to @link_prev do %>
        <%= image_tag nav_asset('prev', false), class: "comic-nav" %>
      <% end %>
    <% else %>
      <%= image_tag nav_asset('prev', true), class: "comic-nav" %>
    <% end %>
  </div>
  <div class="item">
  </div>
  <div class="item">
  </div>
  <div class="item">
    <% if @exists_next %>
      <%= link_to @link_next do %>
        <%= image_tag nav_asset('next', false), class: "comic-nav" %>
      <% end %>
    <% else %>
      <%= image_tag nav_asset('next', true), class: "comic-nav" %>
    <% end %>
  </div>
  <div class="item">
    <%= link_to @link_last do %>
      <%= image_tag nav_asset('last', !@exists_next), class: "comic-nav" %>
    <% end %>
  </div>
</div>
<div class="comics">
  <div class="mobile">
    <% @panels.each do |panel| %>
      <div class="panel-div">
        <%= image_tag panel, class: "panel" %>
      </div>
    <%end %>
  </div>
  <div class="desktop">
    <%= image_tag @image, class: "desktop" %>
  </div>
</div>
