<div class="textinfo">
  <%= markdown(@about[:uf]) %>
  <h4>ABOUT ME</h4>
  <%= markdown(@about[:me]) %>
  <h4>OTHERS</h4>
  <%= markdown(@about[:friends]) %>
  <h4>&nbsp;</h4>
  <%= markdown(@about[:site]) %>
  <h4>PRIVACY</h4>
  <%= markdown(@about[:privacy]) %>
</div>
