<!DOCTYPE html>
<html>
  <head>
    <% if @analyze && !@prefs.get(:dont_track) %>
      <!-- Global site tag (gtag.js) - Google Analytics -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=UA-135173145-1"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-135173145-1');
      </script>
    <% end %>
    <title><%= @title or 'Uncanny Forest' %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag params[:controller] %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag asset_path('favicon.png') %>
  </head>

  <body>
    <div class="forest-boundary">
      <div class="typed">
        <%= image_tag "canopy-v2-2x.png", class: "hf" %>
        <div class="map">
          <div class="item">
            <div class="item">
              <%= link_to '/welcome_home' do %>
                <%= image_tag section(:comics), class: 'map_item' %>
              <% end %>
            </div>
          </div>
          <div class="item">
            <div class="item">
              <%= link_to '/archive' do %>
                <%= image_tag section(:archive), class: 'map_item' %>
              <% end %>
            </div>
          </div>
          <div class="item">
            <div class="item">
              <%= link_to '/about' do %>
                <%= image_tag section(:about), class: 'map_item' %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <%= yield %>
      <div class="footer">
        <%= image_tag "forest-floor-color-2x.png", class: "hf" %>
      </div>
    </div>
    <div class="plains">
      <% if @commentary %>
        <a name="commentary" />
        <% if @prefs.get(:show_commentary) %>
          <div class="forest-boundary">
            <%= link_to "?show_commentary=false#commentary" do %>
              <%= image_tag "flashlight-on-2x.png", class: "hf" %>
            <% end %>
            <%= render "disqus" %>
            <%= image_tag "grass-floor-2x.png", class: "hf" %>
          </div>
        <% else %>
          <%= link_to "?show_commentary=true#commentary" do %>
            <div class="commentary-off">
              <%= image_tag "commentary-2x.png", class: "flashlight-off-msg" %>
              <%= image_tag "flashlight-off-2x.png", class: "flashlight-off" %>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </body>
</html>
