<!DOCTYPE html>
<html>
  <head>
    <% if @analyze && !@dont_track %>
      <!-- Global site tag (gtag.js) - Google Analytics -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=UA-135173145-1"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-135173145-1');
      </script>
    <% end %>
    <title><%= @title or 'Uncanny Forest' %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag params[:controller] %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="forest-boundary">
      <div class="typed">
        <h1>UNCANNY FOREST</h1>
        <div class="map">
          <div class="item">
            <div class="item">
              <%= link_to "COMICS",  '/welcome_home', class: section(:comics) %>
            </div>
          </div>
          <div class="item">
            <div class="item">
              <%= link_to "ARCHIVE",  '/archive', class: section(:archive) %>
            </div>
          </div>
          <div class="item">
            <div class="item">
              <%= link_to "ABOUT",  '/about', class: section(:about) %>
            </div>
          </div>
        </div>
      </div>
      <%= yield %>
    </div>
  </body>
</html>
